*/__pycache__
__pycache__
.pt_tmp/
lightning_logs/
Models/**/*.txt
Models/**/*.json
Models/**/*.yml
Models/**/*.sav
Models/**/*.ckpt
Models/**/*.joblib
Processed_datasets/
TabTransformerPytorch/
Pytorch_tabular/
saved_models/
requirements-tabtransformer.txt
requirements-xgboost.txt
test-xgboost.py
XGBoost-setup.txt